*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}
.container {
    width: 100vw;
    min-height: 100vh;
    background: #a8dbf6;
}
.container.dark {
    background: #222;
}