.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: var(--bg-color);
}

.logo {
    width: 160px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.nav-links li:hover {
    font-weight: 600;
    border-bottom: 2px solid var(--text-color);
}

.search-box {
    display: flex;
    align-items: center;
    background: var(--search-bg);
    padding: 5px 15px;
    border-radius: 25px;
}

.search-box .search-icon {
    color: var(--search-icon-color);
    font-size: 20px;
    cursor: pointer;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--search-text-color);
    font-size: 16px;
    margin-right: 10px;
    cursor: text;
}

.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.toggle-icon {
    cursor: pointer;
    color: var(--icon-color);
}

#moon {
    font-size: 26px;
}

#sun {
    font-size: 32px;
}

.hidden {
    display: none;
}

.user-icon {
    font-size: 30px;
    color: var(--background-icon-color);
    cursor: pointer;
    background-color: var(--user-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.menu-icon {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--icon-color);
}

.dark {
    --bg-color: black;
    --text-color: white;
    --search-text-color: black;
    --search-bg: white;
    --icon-color: white;
    --background-icon-color: black;
    --search-icon-color: black;
    --user-bg: rgb(248, 248, 248);
}

.light {
    --bg-color: white;
    --text-color: black;
    --search-text-color: white;
    --search-bg: #161616;
    --icon-color: black;
    --background-icon-color: white;
    --search-icon-color: white;
    --user-bg: rgb(26, 26, 26);
}

@media (max-width: 960px) {
    .nav-links {
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        background-color: var(--bg-color);
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .nav-links.open {
        display: flex;
        z-index: 1;
    }

    .nav-links.open li {
        margin-bottom: 12px;
    }

    .menu-icon {
        display: block;
    }

    .search-box {
        margin-top: 10px;
    }

    .navbar {
        padding: 15px 2%;
    }
}
