$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;
.menu{
  height: calc(100vh - 150px);
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
    }
    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;
      &:hover {
        background-color: $soft-bg;
      }
    }
  }
}